.wrapper {
  display: flex;
  align-items: center;
  color: var(--mantine-color-white);
}

.icon {
  margin-right: var(--mantine-spacing-md);
  background-color: transparent;
}

.title {
  color: var(--mantine-color-blue-0);
}

.description {
  color: var(--mantine-color-white);
}

.blurred {
  filter: blur(3px); /* Less intense blur */
  transition: filter 0.1s; /* Faster transition */
  cursor: pointer;
}

.unblurred {
  filter: none;
  transition: filter 0.1s;
}